@font-face {
    font-family: 'roboto';
    src: url(./Fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'kreon';
    src: url(./Fonts/Kreon/Kreon-VariableFont_wght.ttf);
}
.h3 {
    font-family: 'kreon';
    font-weight: 600;
}
.a1 {
    font-family: 'roboto';
    font-weight: 500;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: #AEFDFC;
    padding: 0px 10px 10px 10px;
}
.a2 {
    font-family: 'roboto';
    font-weight: 500;
    border: 2px solid black;
    margin-bottom: 10px;
    background-color: #AEFDFC;
    padding: 0px 10px 10px 10px;
}
.a3 {
    font-family: 'roboto';
    font-weight: 500;
    border: 2px solid black;
    background-color: #AEFDFC;
    padding: 0px 10px 10px 10px;
}
.a4 {
    font-family: 'kreon';
    font-weight: 600;
    padding: 0px 10px 10px 10px;
}