@font-face {
    font-family: 'kreon';
    src: url(./Fonts/Kreon/Kreon-VariableFont_wght.ttf);
}
@font-face {
    font-family: 'roboto';
    src: url(./Fonts/Roboto_Slab/RobotoSlab-VariableFont_wght.ttf);
}
h1 {
    font-family: 'kreon';
    font-weight: 600;
}
nav {
    border: 2px solid black;
    margin-bottom: 10px;
    font-family: 'roboto';
    font-weight: 500;
    background-color: #AEFDFC;
}
.img1 { 
    border: 2px solid black;
    background-position: center;
    width: 420px;
    height: 220px;
    background-image: url(./programacion.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 10px;
}
.img2 {
    border: 2px solid black;
    width: 420px;
    height: 220px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(./FOTO\ PERFIL.jpg);
}
.a1{
    font-family: 'kreon';
    font-weight: 600;
}
.a2 {
    font-family: 'roboto';
    font-weight: 500;
}
.a3 {
    border: 2px solid black;
    background-color: #AEFDFC;
}
footer {
    background-color: #AEFDFC;
    margin-top: 10px;
    border: 2px solid black;
    font-family: 'roboto';
    font-weight: 500;
}